.streamyardimg {
  width: 8em;
  height: 1.7em;
}
#custom-dropdownmenu{
  background-colr:white;
  border-radius:11px;
}
.dropdownitemli {
  margin-left:2em;
  margin-bottom:1.2em;
 display:flex;
}
.dropdownitemli a{
   font-weight:500;
   font-size:18px;
}
.ppuddles{
  width:1.7em;
  height:2em;
}
#getStartedbtn{
     border-radius: 4px; 
}
@media screen and (max-width: 1199px) {
  /* CSS styles for screens with a maximum width of 768 pixels */
  #dropdown-togglebtn{
  margin-right:10em;

}
}

